<div class="card" data-shop="<%= shop._id %>">
    <div class="card__title"><%= shop.name%></div>
    <img src="/images/<%= shop.picture %>" alt="<%= shop.name%> image">
    <div class="card__buttons">
        <button data-href="/api/shop/dislike" class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button data-href="/api/shop/like" class="card__button card__button_like">
            <%- include like.ejs %> Like</button>
    </div>
</div>