<div class="card" data-shop="">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button data-href="" class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button data-href="" class="card__button card__button_like">
            <%- include like.ejs %> Like</button>
    </div>
</div>
<div class="card">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button data-href="" class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button data-href="" class="card__button card__button_like">
            <%- include like.ejs %> Like</button>
    </div>
</div>
<div class="card">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button data-href="" class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button data-href="" class="card__button card__button_like">
            <%- include like.ejs %> Like</button>
    </div>
</div>
<div class="card">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button data-href="" class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button data-href="" class="card__button card__button_like">
            <%- include like.ejs %> Like</button>
    </div>
</div>
<div class="card">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button data-href="" class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button data-href="" class="card__button card__button_like">
            <%- include like.ejs %> Like</button>
    </div>
</div>
<div class="card">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button data-href="" class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button data-href="" class="card__button card__button_like">
            <%- include like.ejs %> Like</button>
    </div>
</div>
<div class="card">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button data-href="" class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button data-href="" class="card__button card__button_like">
            <%- include like.ejs %> Like</button>
    </div>
</div>
<div class="card">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button data-href="" class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button data-href="" class="card__button card__button_like">
            <%- include like.ejs %> Like</button>
    </div>
</div>