<div class="card">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button class="card__button card__button_favorite">
            <%- include like.ejs %> Like</button>
    </div>
</div>
<div class="card">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button class="card__button card__button_favorite">
            <%- include like.ejs %> Like</button>
    </div>
</div>
<div class="card">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button class="card__button card__button_favorite">
            <%- include like.ejs %> Like</button>
    </div>
</div>
<div class="card">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button class="card__button card__button_favorite">
            <%- include like.ejs %> Like</button>
    </div>
</div>
<div class="card">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button class="card__button card__button_favorite">
            <%- include like.ejs %> Like</button>
    </div>
</div>
<div class="card">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button class="card__button card__button_favorite">
            <%- include like.ejs %> Like</button>
    </div>
</div>
<div class="card">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button class="card__button card__button_favorite">
            <%- include like.ejs %> Like</button>
    </div>
</div>
<div class="card">
    <div class="card__title">Shop name</div>
    <img src="./images/shop1.jpg" alt="shop image">
    <div class="card__buttons">
        <button class="card__button card__button_dislike">
            <%- include dislike.ejs %> Dislike</button>
        <button class="card__button card__button_favorite">
            <%- include like.ejs %> Like</button>
    </div>
</div>