<div class="card" data-shop="<%= shop._id %>">
    <div class="card__title"><%= shop.name %></div>
    <img src="/images/<%= shop.picture %>" alt="<%= shop.name %> image">
    <div class="card__buttons">
        <button data-href="/api/favorit" class="card__button card__button_remove">
            <%- include remove.ejs %> Remove</button>
    </div>
</div>